.ca-nav span {
    background: url("http://www.almamaterstore.in/skin/frontend/default/almamater/images/arrowicons.png") no-repeat scroll 4px 11px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 38px;
    left: 0;
    opacity: 1;
    position: absolute;
    text-indent: -9000px;
    top: 144px;
    width: 25px;
    z-index: 100;
}
.ca-nav span.ca-nav-next {
    background-position: 7px -21px;
    left: auto;
    right: 0;
}
.ca-nav span:hover {
    opacity: 0.7;
}
.ca-container-testimonial h2.testimonail-heading {
    display: block;
    font: 26px/28px 'OpenSansLight',Arial,sans-serif;
    margin: 25px 0;
    text-align: center;
}
.ca-container-testimonial {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid #E5E4E4;
    color: #666666;
    float: center;
    height: 200px;
    margin: 0 20px 37px 0;
    position: relative;
    width: 1200px;
}
.ca-container-testimonial .ca-wrapper {
    height: 100%;
    position: relative;
    width: 100%;
}
.ca-container-testimonial .ca-item {
    float: left;
    height: 100%;
    position: relative;
    text-align: center;
    width: 940px;
}
.ca-container-testimonial .ca-item-main {
    background: none repeat scroll 0 0 #FFFFFF;
    display: block;
    font: 16px/24px 'OpenSansLight',Arial,sans-serif;
    margin: auto;
    overflow: hidden;
    padding: 0 40px;
    position: static;
    text-align: center;
    width: 700px;
}
.ca-container-testimonial .ca-nav {
}
.ca-container-testimonial .ca-nav span {
    background: url("http://www.almamaterstore.in/skin/frontend/default/almamater/images/arrowicons.png") no-repeat scroll 0 -345px rgba(0, 0, 0, 0);
    cursor: pointer;
    height: 38px;
    left: 36px;
    opacity: 1;
    position: absolute;
    text-indent: -9000px;
    top: 90px;
    width: 15px;
    z-index: 100;
}
.ca-container-testimonial .ca-nav span.ca-nav-next {
    background-position: 0 -385px;
    left: auto;
    right: 36px;
}
.ca-container-testimonial .ca-nav span:hover {
    opacity: 0.7;
}
.testimonial_text h2 {
    color: #007F7B;
    font: 14px/48px 'OpenSansLight',Arial,sans-serif;
    position: relative;
    right: 36px;
}
.ca-item {
    float: left;
    height: 100%;
    position: relative;
    text-align: center;
    width: 300px;
}
.ca-item-main {
    background: none repeat scroll 0 0 #F8F7F7;
    overflow: hidden;
    padding: 0;
    position: absolute;
}
#a{
    text-align: center;

}

#i1{
    margin-right: 200px;

}

#i2{
    margin-left: 200px;
}


#wrapper p{
    font-size: 15px;
	font-family: 'Raleway',sans-serif;
	font-weight: 400;
	
}
#wrapper h3{
 font-family: 'Oswald',sans-serif;
	font-weight: 400;
font-size: 19px;
}
#first {

   margin-left: 70px;
  width:200px;
  float:left;
}

#second {
 margin-left: 110px;
  width:200px;
  float:left;
}
#third {
 margin-left:70px;
  width:230px;
  float:left;
}









#wrap{


  margin:-40px;
}
.diamond  p{
    margin-top:-54px;
	margin-right:-14px;
  
	text-align: center;
}
#left {
  position: relative;
  float: left;
  width: 45%;
  margin: 0;
  padding: 0;
}
#left .box{
	text-align: center;
	float: left;
	width: 10%;
	height: 70px;
}
#left .box img.one{
	margin-top: 10px;
}	
	
#right {
  position: relative;
  float: right;
  width: 45%;
  margin: 0;
  padding: 0;
}

#divider{
    position:absolute;
    left:50%;
    top:708px;
    bottom:808px;
	color:#0000;
    border-left:1px solid #38546d;;
	overflow: auto;
	 padding: 2%;
}

	
	